.container-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-conteudo {
  width: 80%;
  padding: 80px 60px 60px 60px;
  background-color: var(--cinza-escuro);
  position: relative;
  border-left: 8px solid var(--cinza-escuro);
}

.titulo {
  color: var(--cinza);
}

.form-field {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.fa-icone {
  color: white;
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
}

.fa-icone:hover {
  color: var(--laranja);
}

.fa-icone-card {
  color: white;
  margin: 10px;
  cursor: pointer;
  font-size: 20px;
}

.fa-icone-card:hover {
  color: var(--laranja);
}

.i-salvar {
  position: absolute;
  bottom: 35px;
  right: 40px;
}

.i-sair {
  position: absolute;
  top: 10px;
  left: 20px;
}

.secao-dados-pessoais,
.secao-endereco,
.secao-dados-cargo,
.secao-contato,
.secao-formacao,
.secao-dados-antiga-empresa,
.secao-pesquisa-clima {
  margin-bottom: 20px;
  margin-top: 30px;
}

::ng-deep .mat-mdc-select-value {
  color: var(--cinza);
  font-weight: bold;
}

::ng-deep div.mat-mdc-select-panel {
  background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  color: var(--cinza) !important;
}

::ng-deep .mat-mdc-select-arrow {
  color: var(--cinza) !important;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled {
  background-color: var(--cinza-escuro);
}

::ng-deep
  .mdc-text-field--filled.mdc-text-field--disabled
  .mdc-text-field__input {
  color: var(--cinza) !important;
}

.select {
  width: 270px;
}

::ng-deep .mat-expansion-panel-body {
  background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-expansion-panel-body:hover {
  background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #34353b !important;
}

::ng-deep mat-expansion-panel {
  border-radius: 0px !important;
  margin-bottom: 10px !important;
}

::ng-deep mat-expansion-panel-header {
  background-color: #34353b;
  .titulo-secao {
    color: white;
  }
}

::ng-deep mat-expansion-panel-header:hover {
  background-color: #34353b !important;
  .titulo-secao {
    color: white;
  }
}

::ng-deep .mat-expansion-panel-header:not([aria-disabled="true"]) {
  color: white;
}

.conteudo-cabecalho {
  .texto-predicao {
    text-align: end;
    font-size: 40px;
  }
}

.card-motivo {
  margin-bottom: 20px;
  background-color: var(--cinza-escuro);
  border-left: 4px solid red;
}

.card-sugestao {
  margin-bottom: 20px;
  background-color: var(--cinza-escuro);
  border-left: 4px solid green;
}

.card-feature {
  margin-bottom: 20px;
  background-color: var(--cinza-escuro);
  border-left: 4px solid var(--cinza);
}

.card-titulo {
  color: white;
}

::ng-deep .mat-mdc-card-header-text {
  width: 95% !important;
}

.card-descricao {
  color: var(--cinza);
}

.container-card-resposta {
  border: 2px solid var(--verde-escuro);
  background-color: var(--cinza-escuro);
  margin-bottom: 10px;

  .fa-icone {
    margin: 10px;
    font-size: 20px;
  }
}

.estrela-n-clicada {
  color: var(--laranja);
}

.estrela-n-clicada:hover {
  color: var(--laranja);
}

.estrela-clicada {
  color: var(--laranja);
}

.container-card-pergunta {
  background-color: var(--verde-escuro);
  margin-bottom: 10px;
}

.pergunta {
  color: white;
}

::ng-deep .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
  color: white !important;
}

::ng-deep .mdc-tab__text-label {
  color: white !important;
}

::ng-deep .mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: var(--laranja) !important;
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: black;
  --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-label-text-color: white !important;
  --mat-tab-header-active-ripple-color: var(--verde-escuro) !important;
  --mat-tab-header-inactive-ripple-color: white !important;
  --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-active-focus-label-text-color: white !important;
  --mat-tab-header-active-hover-label-text-color: white !important;
  --mat-tab-header-active-focus-indicator-color: var(--laranja) !important;
  --mat-tab-header-active-hover-indicator-color: var(--laranja) !important;
}

::ng-deep .mat-mdc-tab.mdc-tab {
  height: 75px !important;
}

::ng-deep .mat-mdc-tab.mdc-tab:hover {
  height: 50px !important;
  background-color: var(--laranja);
  height: 75px !important;
}

.container-perguntas-respostas {
  margin-top: 20px;
}

::ng-deep .mat-expansion-indicator::after {
  color: #fff !important;
}
