.container-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-conteudo {
    width: 80%;
    padding: 80px 60px 60px 60px;
    background-color: var(--cinza-escuro);
    position: relative;
    border-left: 8px solid var(--laranja);
}

.titulo {
    color: var(--cinza);
}

.form-field {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.fa-icone {
    color: white;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
}

.fa-icone:hover {
    color: var(--laranja);
}

.i-salvar {
    position: absolute;
    bottom: 35px;
    right: 40px;
}

.i-sair {
  position: absolute;
  top: 10px;
  left: 20px;
}

.secao-dados-pessoais, .secao-endereco, 
.secao-dados-cargo, .secao-contato, .secao-formacao,
.secao-dados-antiga-empresa {
    margin-bottom: 20px;
    margin-top: 30px;
}

::ng-deep .mat-mdc-select-value {
    color: gray;
    font-weight: bold;
}

::ng-deep div.mat-mdc-select-panel{
    background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    color: gray !important;
}

::ng-deep .mat-mdc-select-arrow {
    color: gray !important;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled {
    background-color: var(--cinza-escuro);
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input{
    color: gray !important;
}

.select {
    width: 270px;
}

::ng-deep .mat-expansion-panel-body {
    background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-expansion-panel-body:hover {
    background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background-color: #34353b !important;
}

::ng-deep mat-expansion-panel {
    border-radius: 0px !important;
    margin-bottom: 10px !important;
}

::ng-deep mat-expansion-panel-header {
    background-color: #34353b;
    .titulo-secao {
        color: white;
    }
}

::ng-deep mat-expansion-panel-header:hover {
    background-color: #34353b !important;
    .titulo-secao {
        color: white;
    }
}

::ng-deep .mat-expansion-panel-header:not([aria-disabled=true]) {
    color: white;
}