.mat-sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: var(--cinza-escuro);
}

.blur-background {
  filter: blur(2px);
  transition: filter 0.3s ease-in-out; /* Transição suave ao remover o blur */
}

.mat-sidenav-content {
  padding: 0;
  margin: 0;
  height: 100%;
}

.mat-sidenav-container {
  height: 100%;
  background-color: var(--cinza-escuro-tom-mais);
}

mat-nav-list {
  --mdc-list-list-item-label-text-color: white !important;
  --mdc-list-list-item-hover-label-text-color: var(--verde-claro) !important;
}

.mdc-list-item:hover .mdc-list-item__primary-text {
  --mdc-list-list-item-hover-label-text-color: var(--verde-claro) !important;
}

.container-nome {
  margin-left: 30px;
  margin-top: 30px;
  color: white;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.circle {
  width: 40px; /* Tamanho da bolinha */
  height: 40px; /* Tamanho da bolinha */
  border-radius: 50%; /* Faz a bolinha ser redonda */
  overflow: hidden; /* Garante que a imagem fique dentro da bolinha */
  margin-right: 10px; /* Espaço entre a bolinha e o nome */
  background-color: #f0f0f0; /* Cor de fundo da bolinha, caso a imagem não preencha completamente */
}

.profile-photo {
  width: 100%; /* Garante que a imagem preencha a bolinha */
  height: 100%; /* Garante que a imagem preencha a bolinha */
  object-fit: cover; /* Ajusta a imagem para cobrir a bolinha */
  cursor: default;
}

.fa-icone {
  margin-right: 10px;
  color: var(--cinza);
}

.mat-list-item {
  transition: background-color 0.3s ease;
  padding: 20px 16px; /* Espaço interno dentro dos itens */
  border-radius: 4px; /* Bordas arredondadas para um efeito visual melhor */
}

.mat-list-item.selected {
  border-radius: 4px; /* Bordas arredondadas */
  background-color: var(--verde-escuro); /* Cor de fundo do item selecionado */
}

.item-titulo {
  color: var(--cinza) !important;
  font-size: 13px;
  cursor: default;
}

.sidenav-footer {
  background-color: var(--verde-escuro);
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
}

.sidenav-content {
  flex: 1;
  overflow-y: auto;
  height: 92%;
  padding-left: 10px;
  padding-bottom: 20px;
}

app-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; // Assegura que ele ficará sobreposto a outros conteúdos
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Adiciona uma sombra para melhorar a aparência
  width: 570px;
  padding: 20px;
  height: 420px;
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // Escurece o fundo
  z-index: 999; // Menor que o app-login para ficar atrás do modal
}

.container-profile {
  margin: 10px 0px;
}

/* Container principal do usuário */
.container-user {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Espaço entre informações do usuário e ícone */
  align-items: center; /* Centraliza verticalmente os itens */
}

/* Container de informação do usuário (título e nome) */
.user-info {
  display: flex;
  flex-direction: column; /* Organiza o título e o nome em colunas */
  align-items: flex-start; /* Alinha à esquerda */
}

/* Container do nome e ícone */
.user {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
  width: 100%; /* Garante que ocupe todo o espaço */
}

/* Título */
.name {
  font-size: 16px;
  color: white;
  cursor: default;
}

/* Subtítulo com nome do usuário */
.subtitulo {
  font-size: 12px;
  color: var(--cinza);
  margin-top: 4px; /* Espaçamento entre título e nome */
  cursor: default;
}

/* Ícone de logout flutuando no canto direito */
.fa-icone-logout {
  margin-left: auto; /* Empurra o ícone para o canto direito */
  color: var(--verde-claro);
  font-size: 22px;
  cursor: pointer;
}

.fa-icone-logout:hover {
  color: var(--laranja); /* Cor ao passar o mouse */
}
