<div class="floating-chat" *ngIf="!isMinimized">
    <div class="header">
        <h3>CiX Bot</h3>
        <button mat-icon-button (click)="toggleMinimize()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="chat-content">
        <!-- Exibe as mensagens do chat -->
        <div *ngFor="let msg of messages" class="message"
            [ngClass]="{'bot-message': msg.sender === 'bot', 'user-message': msg.sender === 'user'}">
            <p>{{ msg.text }}</p>
        </div>
    </div>
    <div class="chat-input">
        <textarea placeholder="Digite sua mensagem..." [(ngModel)]="message" (keydown.enter)="sendMessage()"
            rows="1"></textarea>
        <fa-icon class="fa-icone-chat" [icon]="['fas', 'circle-arrow-up']" (click)="sendMessage()"></fa-icon>
    </div>
</div>

<!-- Ícone do chat minimizado -->
<div matTooltip="Fale com a CidaAi" class="minimized-floating-chat" (click)="toggleMinimize()" *ngIf="isMinimized">
    <fa-icon class="fa-icone" [icon]="['fas', 'comments']"></fa-icon>
</div>