<div *ngIf="colaboradorParaEditar === null && !isLoadingTabela; else editTemplate">
  <div class="container-filtro">
    <mat-form-field class="filtro" appearance="fill">
      <mat-label>Buscar o colaborador</mat-label>
      <input (input)="filtrar($event)" matInput>
    </mat-form-field>
    <div class="botao-adicionar">
      <fa-icon style="margin-left: 20px;" class="fa-icone-filtro i-adicionar" matTooltip="Adicionar colaborador"
        icon="user-plus" (click)="adicionarColaborador()"></fa-icon>
      <fa-icon class="fa-icone-filtro i-adicionar" (click)="triggerFileInput()" matTooltip="Subir arquivo para cadastro"
        icon="file-arrow-up"></fa-icon>
      <input type="file" #fileInput style="display: none;" (change)="subirArquivo($event)" />
      <a [href]="'http://localhost:5000/api/download-template'" download matTooltip="Baixar template">
        <fa-icon class="fa-icone-filtro i-adicionar" icon="file-arrow-down"></fa-icon>
      </a>
    </div>
  </div>
  <div class="container-table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Coluna CPF -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
      </ng-container>

      <!-- Coluna Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <!-- Coluna Departamento -->
      <ng-container matColumnDef="departamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
        <td mat-cell *matCellDef="let element"> {{element.departamento.nome}} </td>
      </ng-container>

      <!-- Coluna Ex-Funcionario -->
      <ng-container matColumnDef="exFuncionario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ex-Funcionário </th>
        <td mat-cell *matCellDef="let element">
          <fa-icon class="fa-check" icon="check" *ngIf="!element.exFuncionario"></fa-icon>
          <fa-icon class="fa-ban" icon="ban" *ngIf="element.exFuncionario"></fa-icon>
        </td>
      </ng-container>

      <!-- Coluna Ações -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <fa-icon class="fa-icone" matTooltip="Editar colaborador" icon="pen"
            (click)="editarColaborador(element)"></fa-icon>
          <fa-icon class="fa-icone" matTooltip="Excluir colaborador" icon="trash"
            (click)="confirmarExclusao(element)"></fa-icon>
        </td>
      </ng-container>

      <!-- Linhas da Tabela -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="linhas" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]" [hidePageSize]="true">
    </mat-paginator>

  </div>
</div>

<div class="spinner-container" *ngIf="isLoadingTabela">
  <mat-spinner class="custom-spinner" diameter="150"></mat-spinner>
</div>

<ng-template #editTemplate>
  <app-colaborador-edit *ngIf="colaboradorParaEditar" [colaborador]="colaboradorParaEditar"
    (salvar)="salvarColaborador($event)" (voltar)="voltar()">
  </app-colaborador-edit>
</ng-template>

<app-chat></app-chat>