<div class="modal-container" *ngIf="isLoginModalVisible">
    <div class="modal-background" (click)="closeLoginModal()"></div>
    <div class="modal-content">
        <h1 class="titulo">Logar-se</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="input-group">
                <label for="cpf">CPF</label>
                <input formControlName="cpf" id="cpf" type="text" placeholder="Digite seu CPF" />
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input formControlName="password" id="password" type="password" placeholder="Digite sua senha" />
            </div>
            <button type="submit" class="btn-primary">Entrar</button>
        </form>
    </div>
</div>