<div class="dashboard">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="grid">
      <app-g1></app-g1>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g2></app-g2>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g3></app-g3>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g4></app-g4>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g5></app-g5>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g6></app-g6>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g11></app-g11>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g9></app-g9>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g10></app-g10>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g7></app-g7>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g8></app-g8>
    </mat-grid-tile>
    <mat-grid-tile class="grid">
      <app-g12></app-g12>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<app-chat [colaboradorId]="1"></app-chat>