.container-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.container-formulario {
  width: 80%;
  padding: 20px 60px 100px 60px;
  background-color: var(--cinza-escuro);
  position: relative;
  border-left: 8px solid var(--laranja);
}

.container-card-pergunta {
  background-color: var(--verde-escuro);
  margin-bottom: 10px;
}

.pergunta {
  color: white;
}

.container-card-resposta {
  border: 2px solid var(--verde-escuro);
  background-color: var(--cinza-escuro);
  margin-bottom: 10px;

  .fa-icone {
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  .fa-icone:hover {
    color: var(--laranja);
  }
}

.estrela-n-clicada {
  color: var(--laranja);
}

.estrela-n-clicada:hover {
  color: var(--laranja);
}

.estrela-clicada {
  color: var(--laranja);
}

.legenda {
  display: inline-flex;
  flex-direction: row;
  font-size: 14px;
  color: white;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;

  .fa-icone {
    margin: 10px;
    font-size: 30px;
  }

  .fa-icone:hover {
    color: var(--laranja);
  }
}

.legenda-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.fa-icone-enviar {
  margin: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;

  &:hover {
    color: var(--laranja);
  }
}

.i-enviar {
  position: absolute;
  bottom: 25px;
  right: 60px;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:focus:checked
  ~ .mdc-checkbox__ripple {
  background-color: var(--verde-claro) !important;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:focus:checked
  ~ .mdc-checkbox__background {
  background-color: var(--verde-claro) !important;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  background-color: var(--verde-claro) !important;
  border: 2px solid var(--verde-claro) !important;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
    [data-indeterminate="true"]
  )
  ~ .mdc-checkbox__background {
  border: 2px solid var(--verde-claro) !important;
}

::ng-deep .mdc-label {
  color: white;
}

.container-titulo-pesquisa {
  margin: 40px 0px;
}

.titulo-pesquisa {
  font-size: 40px;
  color: var(--laranja);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 100px;
}

::ng-deep mat-progress-spinner.custom-spinner > svg > circle {
  stroke: var(--verde-escuro) !important;
}

::ng-deep
  .mat-mdc-progress-spinner
  .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--verde-escuro) !important;
}
