.container-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.container-formulario {
  width: 80%;
  padding: 20px 60px 100px 60px;
  background-color: var(--cinza-escuro);
  position: relative;
  border-left: 8px solid var(--laranja);
}

.container-card-pergunta {
  background-color: var(--verde-escuro);
  margin-bottom: 10px;
}

.pergunta {
  color: white;
}

.container-card-resposta {
  border: 2px solid var(--verde-escuro);
  background-color: var(--cinza-escuro);
  margin-bottom: 10px;

  .fa-icone {
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  .fa-icone:hover {
    color: var(--laranja);
  }
}

.estrela-n-clicada {
  color: var(--laranja);
}

.estrela-n-clicada:hover {
  color: var(--laranja);
}

.estrela-clicada {
  color: var(--laranja);
}

.legenda {
  display: inline-flex;
  flex-direction: row;
  font-size: 14px;
  color: white;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;

  .fa-icone {
    margin: 10px;
    font-size: 30px;
  }

  .fa-icone:hover {
    color: var(--laranja);
  }
}

.legenda-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.fa-icone-enviar {
  margin: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;

  &:hover {
    color: var(--laranja);
  }
}

.i-enviar {
  position: absolute;
  bottom: 25px;
  right: 60px;
}
