<!-- <div class="container-modal">
    <div class="container-formulario">
<div class="container-perguntas-respostas" *ngFor="let pergunta of perguntas; let i = index">
    <mat-card class="container-card-pergunta" appearance="outlined">
        <mat-card-content class="pergunta">{{ pergunta.texto }}</mat-card-content>
    </mat-card>
    <mat-card class="container-card-resposta" appearance="outlined">
        <mat-card-content class="resposta">
            <mat-checkbox *ngFor="let j of [1, 2, 3, 4, 5]" [(ngModel)]="pergunta.respostas[j]" (change)="rate(i, j)">
                {{ j }}
            </mat-checkbox>
        </mat-card-content>
    </mat-card>
</div>

<fa-icon class="fa-icone-enviar i-enviar" icon="paper-plane" matTooltip="Enviar pesquisa"
    (click)="enviarNotas()"></fa-icon>
</div>
</div>

<app-chat></app-chat> -->