<div *ngIf="!isLoadingTela" class="container-modal">
    <div class="container-formulario">
        <div class="container-titulo-pesquisa">
            <label class="titulo-pesquisa">{{ pesquisa.titulo }} ({{ pesquisa.ano }})</label>
        </div>
        <div class="container-perguntas-respostas" *ngFor="let pergunta of perguntas; let i = index">
            <mat-card class="container-card-pergunta" appearance="outlined">
                <mat-card-content class="pergunta">{{ pergunta.texto }}</mat-card-content>
            </mat-card>
            <mat-card class="container-card-resposta" appearance="outlined">
                <mat-card-content class="resposta">
                    <!-- Loop pelas opções de resposta de cada pergunta, sem exibir a nota no texto -->
                    <div *ngFor="let opcao of pergunta.opcoes_resposta">
                        <mat-checkbox [checked]="pergunta.nota === opcao.nota" class="titulo-checkbox"
                            (change)="rate(i, opcao.nota)">
                            {{ opcao.texto }}
                        </mat-checkbox>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- Botão de envio das respostas -->
        <fa-icon class="fa-icone-enviar i-enviar" icon="paper-plane" matTooltip="Enviar pesquisa"
            (click)="enviarNotas()"></fa-icon>
    </div>
</div>

<div class="spinner-container" *ngIf="isLoadingTela">
    <mat-spinner class="custom-spinner" diameter="150"></mat-spinner>
</div>

<app-chat></app-chat>