<div class="container-home">
    <div class="video-background">
        <video autoplay muted loop id="background-video">
            <source src="assets/home.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container-conteudo">
        <div class="header">
            <img src="assets/sdc.png" alt="Logo Shopping do Cidadão" class="logo-sdc">
            <img src="assets/fiap.png" alt="Logo FIAP" class="logo-fiap">
        </div>

        <div class="content">
            <mat-label class="titulo">UMA PARCERIA <span style="color: #EC1559;">FIAP</span> E <span style="color: #023D31;margin-right: 10px;">CITIZEN</span> <span style="color: #F05724;">EXPIRENCE</span></mat-label>
        </div>
    </div>
</div>
