.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container-conteudo {
    width: 80%;
    padding: 10px 60px 10px 60px;
    background-color: var(--cinza-escuro);
    height: 500px;
    position: relative;
}

.header {
    display: flex;
    justify-content: center; 
    align-items: center;
}
  
.logo-sdc, .logo-fiap {
    height: 200px;
    margin: 0 15px;
    object-fit: contain;
}

.titulo {
    color: grey;
    font-size: 30px;
}

.descricao {
    margin-top: 20px;
    color: white;
    font-size: 20px;
}