<div class="container-home">
    <div class="container-conteudo">
        <div class="header">
            <img src="assets/sdc.png" alt="Logo Shopping do Cidadão" class="logo-sdc">
            <img src="assets/fiap.png" alt="Logo FIAP" class="logo-fiap">
        </div>
        
        <div class="content">
        <mat-label class="titulo">Bem-vindo à Plataforma de Parceria</mat-label>
        <br />
        <mat-label class="descricao">
            Esta plataforma é resultado de uma parceria entre o Shopping do Cidadão e a FIAP, 
            unindo esforços para oferecer os melhores serviços e tecnologias ao cidadão. 
            Aqui, você encontra uma gama de serviços que visam facilitar sua vida, com a qualidade e inovação que você merece.
        </mat-label>
        </div>
    </div>
  </div>
  