<div *ngIf="pesquisaParaEditar === null && !isLoadingTabela; else editTemplate">

    <div class="container-filtro">
        <mat-form-field class="filtro" appearance="fill">
            <mat-label>Buscar a pergunta</mat-label>
            <input (input)="filtrar($event)" matInput placeholder="Digite pelo conteúdo de uma das colunas">
        </mat-form-field>
        <div class="botao-adicionar">
            <fa-icon class="fa-icone-filtro i-adicionar" style="margin-left: 20px;" matTooltip="Adicionar pergunta"
                icon="book-medical" (click)="adicionarPesquisa()"></fa-icon>
            <fa-icon class="fa-icone-filtro i-adicionar" (click)="triggerFileInput()"
                matTooltip="Subir arquivo para enriquecimento" icon="file-arrow-up"></fa-icon>
            <input type="file" #fileInput style="display: none;" (change)="subirArquivo($event)" />
            <a [href]="'http://localhost:5000/api/pergunta/download-template'" download matTooltip="Baixar template">
                <fa-icon class="fa-icone-filtro i-adicionar" icon="file-arrow-down"></fa-icon>
            </a>
        </div>
    </div>

    <div class="container-table">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Coluna ID -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Coluna Pesquisa -->
            <ng-container matColumnDef="texto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pergunta </th>
                <td mat-cell *matCellDef="let element"> {{element.texto}} </td>
            </ng-container>

            <!-- Coluna Ações -->
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <fa-icon class="fa-icone" matTooltip="Editar pergunta" icon="pen"
                        (click)="editarPesquisa(element)"></fa-icon>
                    <fa-icon class="fa-icone" matTooltip="Excluir pergunta" icon="trash"
                        (click)="confirmarExclusao(element)"></fa-icon>
                </td>
            </ng-container>

            <!-- Linhas da Tabela -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="linhas" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Paginação -->
        <mat-paginator [pageSizeOptions]="[5]" [hidePageSize]="true">
        </mat-paginator>
    </div>
</div>

<div class="spinner-container" *ngIf="isLoadingTabela">
    <mat-spinner class="custom-spinner" diameter="150"></mat-spinner>
</div>

<ng-template #editTemplate>
    <app-pergunta-edit *ngIf="pesquisaParaEditar" [pergunta]="pesquisaParaEditar" (salvar)="salvarPesquisa($event)"
        (voltar)="voltar()">
    </app-pergunta-edit>
</ng-template>

<app-chat></app-chat>