.container-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-formulario {
  width: 80%;
  padding: 80px 60px 100px 60px;
  background-color: var(--cinza-escuro);
  position: relative;
}

.titulo {
  color: var(--cinza);
}

.titulo-secao {
  color: var(--cinza);
  margin-left: 20px;
  font-weight: 500;
}

.form-field {
  margin-left: 15px;
  margin-right: 15px;
  width: 90%;
}

.form-field-resposta {
  margin-left: 15px;
  margin-right: 15px;
  width: 90%;
}

.form-field-nota {
  margin-left: 15px;
  margin-right: 15px;
  width: 10%;
}

.fa-icone {
  color: white;
  margin: 10px;
  cursor: pointer;
  font-size: 30px;
}

.fa-icone:hover {
  color: var(--laranja);
}

.fa-icone-add {
  margin: 0px 0px 15px 0px !important;
  color: white;
  cursor: pointer;
  font-size: 30px;
}

.fa-icone-add:hover {
  color: var(--laranja);
}

.fa-icone-remove {
  color: white;
  cursor: pointer;
  font-size: 17px;
}

.fa-icone-remove:hover {
  color: var(--laranja);
}

.i-salvar {
  position: absolute;
  bottom: 35px;
  right: 40px;
}

.i-sair {
  position: absolute;
  top: 10px;
  left: 20px;
}

.secao {
  margin-bottom: 20px;
  margin-top: 10px;
}

::ng-deep .mat-mdc-select-value {
  color: white;
}

::ng-deep div.mat-mdc-select-panel {
  background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  color: white !important;
}

::ng-deep .mat-mdc-select-arrow {
  color: white !important;
}

.select {
  width: 270px;
}

::ng-deep .mat-expansion-panel-body {
  background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-expansion-panel-body:hover {
  background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #34353b !important;
}

::ng-deep mat-expansion-panel {
  border-radius: 0px !important;
  margin-bottom: 10px !important;
}

::ng-deep mat-expansion-panel-header {
  background-color: #34353b;
  .titulo-secao {
    color: white;
  }
}

::ng-deep mat-expansion-panel-header:hover {
  background-color: #34353b !important;
  .titulo-secao {
    color: white;
  }
}

::ng-deep .mat-expansion-panel-header:not([aria-disabled="true"]) {
  color: white;
}

::ng-deep .mat-expansion-indicator:after {
  color: white;
}

::ng-deep .mdc-label {
  color: white;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:focus:checked
  ~ .mdc-checkbox__ripple {
  background-color: var(--verde-claro) !important;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:focus:checked
  ~ .mdc-checkbox__background {
  background-color: var(--verde-claro) !important;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  background-color: var(--verde-claro) !important;
  border: 2px solid var(--verde-claro) !important;
}

::ng-deep
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
    [data-indeterminate="true"]
  )
  ~ .mdc-checkbox__background {
  border: 2px solid var(--verde-claro) !important;
}

.opcao-nova {
  display: flex;
  align-items: center;
  gap: 10px;
}

.opcao-resposta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mat-icon-button {
  color: red;
}

.texto-opcao {
  margin-left: 20px;
  margin-right: 35px;
  color: var(--laranja);
  font-weight: 500;
}

input::placeholder {
  color: var(--cinza) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--cinza);
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0px !important;
}
