<div class="container-cards" *ngIf="!isLoading">
    <mat-card *ngFor="let termometro of termometros" class="card" appearance="outlined">
        <mat-card-header class="header">
            <span class="header-text">{{ termometro.contexto_nome }}</span>
            <fa-icon *ngIf="termometro.proximidade_bom != null" class="fa-icone-card"
                (click)="recarregarTermometro(termometro.contexto_id)" icon="rotate"
                matTooltip="Recarregar motivo"></fa-icon>
        </mat-card-header>
        <mat-card-content class="card-content">
            <div class="status-icon">
                <!-- Exibe o ícone com base no status -->
                <fa-icon *ngIf="termometro.status === 'bom'" icon="face-laugh-wink"
                    class="fa-icone good-icon"></fa-icon>
                <fa-icon *ngIf="termometro.status === 'neutro'" icon="face-meh" class="fa-icone neutral-icon"></fa-icon>
                <fa-icon *ngIf="termometro.status === 'ruim'" icon="face-sad-cry" class="fa-icone bad-icon"></fa-icon>
            </div>
            <div class="info">
                <p class="nota-text" *ngIf="termometro.proximidade_bom != null">Notas boas: {{
                    termometro.proximidade_bom }} %</p>
                <p class="nota-text" *ngIf="termometro.proximidade_bom == null">N/D</p>
                <p class="motivo-text" *ngIf="termometro.motivo != ''">
                    <span>Motivo: </span>{{ termometro.motivo }}
                </p>
                <p class="motivo-text" *ngIf="termometro.motivo == ''">
                    <span>Motivo: </span> Clique em "recarregar motivo" para mais informações
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="spinner-container" *ngIf="isLoading">
    <mat-spinner class="custom-spinner" diameter="150"></mat-spinner>
</div>

<app-chat></app-chat>