.container-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-formulario {
    width: 80%;
    padding: 80px 60px 100px 60px;
    background-color: var(--cinza-escuro);
    position: relative;
    border-left: 8px solid var(--laranja);
}

.titulo {
    color: var(--cinza);
}

.form-field {
    margin-left: 15px;
    margin-right: 15px;
}

.fa-icone {
    color: white;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
}

.fa-icone:hover {
    color: var(--laranja);
}

.i-salvar {
    position: absolute;
    bottom: 35px;
    right: 40px;
}

.i-sair {
  position: absolute;
  top: 10px;
  left: 20px;
}

.secao-dados-pessoais, .secao-endereco, 
.secao-dados-cargo, .secao-contato, .secao-formacao,
.secao-dados-antiga-empresa {
    margin-bottom: 20px;
    margin-top: 30px;
}

::ng-deep .mat-mdc-select-value {
    color: white;
}

::ng-deep div.mat-mdc-select-panel{
    background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    color: white !important;
}

::ng-deep .mat-mdc-select-arrow {
    color: white !important;
}

.select {
    width: 270px;
}

::ng-deep .mat-expansion-panel-body {
    background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-expansion-panel-body:hover {
    background-color: var(--cinza-escuro) !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background-color: #34353b !important;
}

::ng-deep mat-expansion-panel {
    border-radius: 0px !important;
    margin-bottom: 10px !important;
}

::ng-deep mat-expansion-panel-header {
    background-color: #34353b;
    .titulo-secao {
        color: white;
    }
}

::ng-deep mat-expansion-panel-header:hover {
    background-color: #34353b !important;
    .titulo-secao {
        color: white;
    }
}

::ng-deep .mat-expansion-panel-header:not([aria-disabled=true]) {
    color: white;
}

::ng-deep .mat-expansion-indicator:after {
    color: white;
}

::ng-deep .mdc-label{
    color: white;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple {
    background-color: var(--verde-claro) !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:checked~.mdc-checkbox__background {
    background-color: var(--verde-claro) !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, 
.mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    background-color: var(--verde-claro) !important;
    border: 2px solid var(--verde-claro) !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border: 2px solid var(--verde-claro) !important;
}