<div class="container-modal">
    <div class="container-formulario">
        <fa-icon class="fa-icone i-sair" icon="angle-left" matTooltip="Voltar" (click)="onVoltar()"></fa-icon>

        <!-- Seção de Dados Pessoais -->
        <mat-accordion>
            <mat-expansion-panel (opened)="panelDadosPessoais.set(true)" (closed)="panelDadosPessoais.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title class="titulo-secao"> Dados Pessoais </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="secao-dados-pessoais">
                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Nome</mat-label>
                        <input matInput [(ngModel)]="colaborador.nome">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">CPF</mat-label>
                        <input matInput [(ngModel)]="colaborador.cpf">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Idade</mat-label>
                        <input matInput type="number" min="1" [(ngModel)]="colaborador.idade">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Gênero</mat-label>
                        <mat-select [(ngModel)]="colaborador.genero.id">
                            <mat-option *ngFor="let genero of generos" [value]="genero.id">
                                {{ genero.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Estado Civil</mat-label>
                        <mat-select [(ngModel)]="colaborador.estadoCivil.id">
                            <mat-option *ngFor="let estadoCivil of estadosCivis" [value]="estadoCivil.id">
                                {{ estadoCivil.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- Seção de Contato -->
        <mat-accordion>
            <mat-expansion-panel (opened)="panelContato.set(true)" (closed)="panelContato.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title class="titulo-secao"> Contatos </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="secao-contato">
                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Telefone</mat-label>
                        <input matInput [(ngModel)]="colaborador.telefone">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">E-mail</mat-label>
                        <input matInput [(ngModel)]="colaborador.email" type="email">
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- Seção de Endereço -->
        <mat-accordion>
            <mat-expansion-panel (opened)="panelEndereco.set(true)" (closed)="panelEndereco.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title class="titulo-secao"> Endereço </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="secao-endereco">
                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Endereço</mat-label>
                        <input matInput [(ngModel)]="colaborador.endereco">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Número</mat-label>
                        <input matInput [(ngModel)]="colaborador.numero">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Complemento</mat-label>
                        <input matInput [(ngModel)]="colaborador.complemento">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Bairro</mat-label>
                        <input matInput [(ngModel)]="colaborador.bairro">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Cidade</mat-label>
                        <input matInput [(ngModel)]="colaborador.cidade">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Estado</mat-label>
                        <mat-select [(ngModel)]="colaborador.estado">
                            <mat-option *ngFor="let estado of estados" [value]="estado">
                                {{ estado }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">CEP</mat-label>
                        <input matInput [(ngModel)]="colaborador.cep">
                    </mat-form-field>

                    <mat-form-field class="form-field field-medium">
                        <mat-label class="titulo">Distância de casa para o trabalho (em KM)</mat-label>
                        <input matInput type="number" min="0" [(ngModel)]="colaborador.distanciaCasa">
                    </mat-form-field>

                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- Seção de Formação -->
        <mat-accordion>
            <mat-expansion-panel (opened)="panelFormacao.set(true)" (closed)="panelFormacao.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title class="titulo-secao"> Formação </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="secao-formacao">
                    <mat-form-field class="form-field select">
                        <mat-label class="titulo">Nível de Escolaridade</mat-label>
                        <mat-select [(ngModel)]="colaborador.nivelEscolaridade.id">
                            <mat-option *ngFor="let nivelEscolaridade of niveisEscolaridade"
                                [value]="nivelEscolaridade.id">
                                {{ nivelEscolaridade.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Faculdade</mat-label>
                        <mat-select [(ngModel)]="colaborador.faculdade.id">
                            <mat-option *ngFor="let faculdade of faculdades" [value]="faculdade.id">
                                {{ faculdade.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Formação</mat-label>
                        <mat-select [(ngModel)]="colaborador.formacao.id">
                            <mat-option *ngFor="let formacao of formacoes" [value]="formacao.id">
                                {{ formacao.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- Seção de Dados do Cargo -->
        <mat-accordion>
            <mat-expansion-panel (opened)="panelCargo.set(true)" (closed)="panelCargo.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title class="titulo-secao"> Cargo </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="secao-dados-cargo">
                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Departamento</mat-label>
                        <mat-select [(ngModel)]="colaborador.departamento.id">
                            <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">
                                {{ departamento.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Setor</mat-label>
                        <mat-select [(ngModel)]="colaborador.setor.id">
                            <mat-option *ngFor="let setor of setores" [value]="setor.id">
                                {{ setor.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Salário</mat-label>
                        <input matInput type="number" [(ngModel)]="colaborador.salario" placeholder="Digite o salário"
                            step="0.01" min="0" (blur)="formatarSalario()">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Porcentagem do último aumento</mat-label>
                        <input type="number" min="0" matInput [(ngModel)]="colaborador.porcentagemUltimoAumento">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Cargo</mat-label>
                        <mat-select [(ngModel)]="colaborador.cargo.id">
                            <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
                                {{ cargo.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Quantos anos na empresa</mat-label>
                        <input type="number" min="0" matInput [(ngModel)]="colaborador.quantidadeHorasTreinamentoAno">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Gerente</mat-label>
                        <input matInput [(ngModel)]="colaborador.gerente">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Quantos anos com o atual gestor</mat-label>
                        <input type="number" min="0" matInput [(ngModel)]="colaborador.quantidadeAnosAtualGestor">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Tempo de Trabalho</mat-label>
                        <input type="number" min="0" matInput [(ngModel)]="colaborador.tempoTrabalho">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Viagem a trabalho</mat-label>
                        <mat-select [(ngModel)]="colaborador.viagemTrabalho.id">
                            <mat-option *ngFor="let viagem of viagemTrabalho" [value]="viagem.id">
                                {{ viagem.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- Seção de Carreira -->
        <mat-accordion>
            <mat-expansion-panel (opened)="panelCarreira.set(true)" (closed)="panelCarreira.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title class="titulo-secao"> Carreira </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="secao-dados-antiga-empresa">
                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Quantas empresas trabalhou</mat-label>
                        <input matInput type="number" min="0" [(ngModel)]="colaborador.quantidadeEmpresasTrabalhou">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label class="titulo">Quantos anos de carreira</mat-label>
                        <input matInput type="number" min="0"
                            [(ngModel)]="colaborador.quantidadeAnosTrabalhadosAnteriormente">
                    </mat-form-field>

                    <mat-form-field class="form-field field-medium">
                        <mat-label class="titulo">Quantas horas em treinamento por ano</mat-label>
                        <input type="number" min="0" matInput [(ngModel)]="colaborador.quantidadeAnosNaEmpresa">
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-checkbox [(ngModel)]="colaborador.exFuncionario" class="titulo">Ex-Funcionário?</mat-checkbox>

        <fa-icon matTooltip="Salvar colaborador" class="fa-icone i-salvar" icon="check" (click)="onSalvar()"></fa-icon>
    </div>
</div>